#duncansBio {
  background-image: url(https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/10731168_391246231030553_8594113410325239624_n.jpg?oh=92907d06b83588c2302b98503402e444&oe=58C543D6);
  background-color: black;
  opacity: .75;
  color: white;
  font-family: Helvetica, sans-serif;
  border: 2px 2px;
  border-radius: 5px;
  width: 40%;
  padding-bottom: 20%;
  margin: auto;
  box-shadow: 4px 4px 4px 4px;
}

p {
  width: 60%;
  font-size: 24px;
  margin: auto;
  padding-top: 25%;
}
